<!DOCTYPE html>
<html>
  <head>
    <title>Election Data: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Election Data</h1></a>
    <dl>
      <dt>Party name</dt>
      <dd><%=item.name%></dd>
      <% if (item.description) { %>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
      <% } %>
      <dt>Candidates</dt>
      
      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a href="/candidates/<%=related_item._id%>">
              <%=related_item.name%>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No candidates have been added to this party.
        <% } %>
      </dd>
    </dl>
    <div class="control">
      <h2>Add a new candidate</h2>
      <form id="create-candidate" method="post" action="/candidates/">
        <input type="hidden" name="item[party]" value="<%=item._id%>">
        <!-- The line above links the candidate to be created to this party. -->
        <label>Candidate name: 
          <input name="item[name]" type="text" required
                   placeholder="Ron Paul">
        </label>
        <label>Candidate image URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="http://www.ronpaul2012.com/wp-content/themes/ronpaul/images/bg-header.jpg">
        </label>
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
